*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.check-cont{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
}

.check-div{
    width: 1000px;
    height: 800px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
}

.black-check{
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 20;

}

.white-check{
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 20;

}

.bg-black{
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 10
}

.bg-white{
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 10
}

.black-vert-check{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 50px;
    height: 150px;
    background-color: rgb(15, 15, 15);
}

.black-horz-check{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 150px;
    height: 50px;
    background-color: rgb(15, 15, 15);
}

.white-vert-check{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 50px;
    height: 150px;
    background-color: rgb(255, 255, 255);
}

.white-horz-check{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.rotate-right{
    animation: .8s rotate-right linear
}

.rotate-left{
    
    animation: .8s rotate-left linear
}

@keyframes rotate-right{
    from{
        z-index: 50;
        rotate: 0deg;
    }
    to{
        z-index: 50;
        rotate:90deg
    }
}

@keyframes rotate-left{
    from{
        z-index: 50;
        rotate: 0deg;
    }
    to{
        z-index: 50;
        rotate:-90deg
    }
}